* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}
label {
  font-size: 14px;
}
a {
  position: relative;
  top:20px;
  margin-right:20px;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.container-form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  margin-bottom: 20px;
  display:block;
  width: 300px;
}
.form-input {
  position: relative;
  text-align: center;
}
.form-input input{
  display: block;
  font-size:15px;
  padding: 14px;
  margin:5px;
}
.form-input input[type="text"] {
  width:550px;
  height: 1.5em;
  border-radius: 50px;
  font-size:17px;
  border: 1px solid #bebebe;
  padding-left:50px;
}
.form-input input[type="text"]:hover {
  box-shadow: 0 2px 5px #a8a8a8;

}
.form-input input[type="text"]:focus {
  outline:none;
  box-shadow: 0 2px 5px #a8a8a8;
}
.form-input input[name^="as"] {
  width: 300px;
  border-radius: 5px;
}
.form-input input[type='submit'] {
  display: inline;
  border-radius: 3px;
  margin-top:15px;
  padding:10px;
  cursor:pointer;
  border:none;
  background-color: #fafafa;
}
.form-input input[type='submit']:hover {
  outline: 1px solid #d3d3d3;
  box-shadow: 0px 1px 3px grey;
}
.form-advanced {
  margin-top: 10px;
  margin-left: 50px;
}
.form-advanced input[type="text"] {
  width: 250px;
  height: 1.9em;
  margin: 7px;
  padding: 0px 5px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  border-top: 1px solid #b4b4b4;
}
.form-advanced input[type="text"]:focus {
  outline: 1px solid #4798ff;
}
.form-advanced input[type="submit"] {
  border-radius: 3px;
  margin-top:15px;
  padding:10px;
  cursor:pointer;
  border:none;
  font-weight: bold;
  color:white;
  background-color: #1b83fa;
  outline: 1px solid #0046dc;
}
.form-advanced input[type="submit"]:hover {
  outline: 1px solid #00319b;
  box-shadow: 0px -5px 20px -10px #868686 inset;
}
.search-icon {
  top:22px;
  left:20px;
  position:absolute;
  height: 20px;
  width: 20px;
}
.mic-icon {
  top:22px;
  right:25px;
  position:absolute;
  height: 20px;
  width: 20px;
}
.div-advanced-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:450px;
}
.navbar-container {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.container-form p {
  padding:0;
  margin:0;
  font-size:18px;
  position: relative;
  bottom:43px;
  left:115px;
  color: #0052cc;
}
